* {
  box-sizing: border-box;
}
html,
body {
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;
  padding-inline: 5vw;
}

h1 {
  font-weight: 400;
  font-size: 50px;
  margin: 40px;
}

.todo-form > * {
  font-size: 1.2em;
}

ul {
  padding: 0;
}

.todo {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5em;
  background-color: #ffffff10;
}

.name {
  display: flex;
  align-items: center;

  > i {
    margin-right: 5px;
  }
}

i {
  > svg {
    vertical-align: -5px;
    font-size: 1em;

    > :hover {
      filter: none;
    }
  }

  :hover {
    filter: brightness(1.2);
  }
}

textarea {
  resize: horizontal;
  height: 20pt;
  padding: 0;
  margin: 0;
}